.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    margin-left: $header-margin;
  }
}

.nav {
  margin-right: $header-margin;

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
  }

  &__item {
    padding-right: $nav-item-padding;

    &:last-child {
      padding-right: 0;
    }
  }
  &__link {
    line-height: $header-height;
    text-decoration: none;
    text-transform: uppercase;
    transition: $transition;

    color: $nav-link-color;

    &.is-active {
      position: relative;
      color: $blue-color;

      &::after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: $underline-position;
        height: $underline-size;
        border-radius: $underline-form;
        background-color: $blue-color;
      }
    }

    &:hover {
      color: $blue-color;
    }
  }
}
