body {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

@import 'utils/variables';
@import 'utils/mixins';
@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/stars';
