$header-margin: 50px;
$star-size: 16px;
$nav-link-color: #060b35;
$blue-color: #00acdc;
$card-width: 200px;
$transition: 300ms;
$grey-text-color: #616070;
$card-brdr-color: #f3f3f3;
$breakpoint_mobile: 488px;
$breakpoint_tablet: 768px;
$breakpoint_desktop: 1024px;
